name: build-mobile

concurrency:
  group: "build-mobile-${{ github.ref }}"
  cancel-in-progress: true

on:
  push:
    branches: [ master, staging, qa ]
    tags:
      - 'v*.*.*'
  pull_request:
    branches: [ master, staging, qa ]
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GOSDK }}

jobs:
  build-ios:
    name: Build-ios
    runs-on: macos-11

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: ^1.18

      - name: Install GoMobile
        run: |
          go install golang.org/x/mobile/cmd/gomobile@latest
          go install golang.org/x/mobile/cmd/gobind@latest
          gomobile init
        env:
          GO111MODULE: "on"

      - name: Setup GoMobile
        run:  make setup-gomobile

      - name: Build iOS
        run: |
          make build-ios
          make build-iossimulator

      - name: Compress
        run: |
          tar -czvf zcncore-ios.tar.gz out/iossdk/ios/zcncore.xcframework
          tar -czvf zcncore-iossimulator.tar.gz out/iossdk/simulator/zcncore.xcframework

      - name: Setup Build
        id: setup_build
        run: |
          tag=$(echo ${GITHUB_REF#refs/tags/})
          echo ${tag}
          if [[ "${{github.event_name}}" = "workflow_dispatch" ]]; then
            echo "> 0Chain: trigger from workflow_dispatch"
         
          elif [[ ${tag} = v*\.*\.* ]] ; then
            echo "> 0Chain: trigger from git event"
       
            # upload output on release
            echo "::set-output name=RELEASE::true"
            echo "::set-output name=TAG::${tag}"
          fi

      - name: Upload zcncore-ios to release
        if:  steps.setup_build.outputs.RELEASE == 'true'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: zcncore-ios.tar.gz
          tag: ${{ steps.vars.outputs.TAG }}
          overwrite: true
          file_glob: true

      - name: Upload zcncore-iossimulator to release
        if:  steps.setup_build.outputs.RELEASE == 'true'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: zcncore-iossimulator.tar.gz
          tag: ${{ steps.vars.outputs.TAG }}
          overwrite: true
          file_glob: true

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: zcncore-ios
          path: |
            zcncore-ios.tar.gz
            zcncore-iossimulator.tar.gz

  build-android:
    name: Build-android
    runs-on: [self-hosted, build]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'

      - uses: android-actions/setup-android@v2

      - name: Install Android Platform
        run: |
          sdkmanager "platform-tools"
          sdkmanager "platforms;android-29"
          sdkmanager "build-tools;29.0.2"
      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r21d

      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: ^1.18

      - name: Install GoMobile
        run: |
          go install golang.org/x/mobile/cmd/gomobile@latest
          go install golang.org/x/mobile/cmd/gobind@latest
          gomobile init
        env:
          GO111MODULE: "on"

      - name: Setup GoMobile
        run:  make setup-gomobile


      - name: Build Android
        run: make build-android
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
          ANDROID_NDK_TOOLCHAIN: ${{ steps.setup-ndk.outputs.ndk-path }}/toolchains/llvm/prebuilt/linux-x86_64/bin

      - name: Compress
        run: tar -czvf zcncore-android.tar.gz out/androidsdk/zcncore.aar

      - name: Setup Build
        id: setup_build
        run: |
          tag=$(echo ${GITHUB_REF#refs/tags/})
          echo ${tag}
    
          if [[ "${{github.event_name}}" = "workflow_dispatch" ]]; then
            echo "> 0Chain: trigger from workflow_dispatch"
         
          elif [[ ${tag} = v*\.*\.* ]] ; then
            echo "> 0Chain: trigger from git event"
       
            # upload output on release
            echo "::set-output name=RELEASE::true"
            echo "::set-output name=TAG::${tag}"
          fi

      - name: Upload binaries to release
        if:  steps.setup_build.outputs.RELEASE == 'true'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: zcncore-android.tar.gz
          tag: ${{ steps.vars.outputs.TAG }}
          overwrite: true
          file_glob: true

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: zcncore-android
          path: zcncore-android.tar.gz