name: GoSDK & WasmSDK 

concurrency:
  group: "sdk-${{ github.ref }}"
  cancel-in-progress: true

on:
  push:
    branches:
    tags:
      - 'v*.*.*'
  pull_request:
  workflow_dispatch:
    inputs:
      version:
        description: '0Chain SDK version'
        required: true

env:
  RELEASE: false
  SDK: ""
  TAG: ""
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true
  
jobs:
  build:
    name: sdk-build
    runs-on: [self-hosted, build]
    steps:
      - name: Set up Go 1.17
        uses: actions/setup-go@v2
        with:
          go-version: ^1.17

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup build
        id: setup_build
        run: |
          tag=$(echo ${GITHUB_REF#refs/tags/})
          echo ${tag}
          if [[ -n "${{github.event.inputs.version}}" ]]; then
            echo "> 0Chain: trigger from workflow_dispatch"
            echo "::set-output name=PR::true"

            gosdk="{\"gosdk\":\"${{github.event.inputs.version}}\"}"
            echo "::set-env name=SDK::${gosdk}"
          elif [[ ${tag} = v*\.*\.* ]] ; then
            echo "> 0Chain: trigger from git event"
            echo "::set-output name=PR::true"

            gosdk="{\"gosdk\":\"${tag}\"}"
            echo "::set-env name=SDK::${gosdk}"

            # upload zcn.wasm on release
            echo "::set-env name=RELEASE::true"
            echo "::set-env name=TAG::${tag}"
          fi
             
      - name: Build
        run: CGO_ENABLED=0 GOOS=js GOARCH=wasm go build -o ./zcn.wasm  ./wasmsdk

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        if:  env.RELEASE == 'true'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: zcn.wasm
          tag: ${{ env.TAG }}
          overwrite: true
          file_glob: true

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v2
        with:
          name: zcn.wasm
          path: zcn.wasm
    outputs:
      PR: ${{ steps.setup_build.outputs.PR }}

  release:
    name: sdk-release
    needs: build
    if: needs.build.outputs.PR == 'true'
    runs-on: [self-hosted, build]
    steps:
      - name: start to create pr
        run: |
          echo "GoSDK & WebAssembly SDK should be upgraded"
  create-pr:
    name: create-pr
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        repo: [block-explorer, 0nft, 0box, 0dns, 0proxy, zwalletcli, zboxcli, zboxmobile, blobber ]
    needs: [ release ]
    runs-on: [self-hosted, build]
    steps:     
      - name: Create PR on ${{ matrix.repo }}
        uses: convictional/trigger-workflow-and-wait@v1.3.0
        if:  env.PR == 'true'
        with:
          owner: 0chain
          repo: ${{ matrix.repo }}
          ref: staging
          github_token: ${{ secrets.GOSDK }}
          workflow_file_name: gosdk.yml
          inputs: ${{ env.SDK }}
          propagate_failure: true
          trigger_workflow: true
          wait_workflow: true    