name: "0Chain System Tests"

on:
  workflow_dispatch:
    inputs:
      system_tests_branch:
        description: 'system_tests branch containing the tests you wish to run'
        default: 'master'
        required: true
      zbox_cli_branch:
        description: 'zbox CLI branch which the tests will use'
        default: 'staging'
        required: true
      zwallet_cli_branch:
        description: 'zwallet CLI branch which the tests will use'
        default: 'staging'
        required: true
      miner_branch:
        description: 'miner branch to deploy'
        default: 'staging'
        required: true
      sharder_branch:
        description: 'sharder branch to deploy'
        default: 'staging'
        required: true
      blobber_branch:
        description: 'blobber branch to deploy'
        default: 'staging'
        required: true
      validator_branch:
        description: 'validator branch to deploy'
        default: 'staging'
        required: true
      zbox_branch:
        description: '0box branch to deploy'
        default: 'staging'
        required: true
      test_file_filter:
        description: 'Comma separated list of test files to run (eg. zwalletcli_register_wallet_test.go, zwalletcli_send_and_balance_test.go). If supplied, the PR will NOT be notified of the test result'
        default: ''
        required: false
      skip_tests:
        description: '(LAST RESORT ONLY) Skip system tests. This will allow a PR to merge without requiring a green test run.  *By using you certify that the code being merged is not causing system tests to fail*'
        default: 'FALSE'
        required: true
jobs:
  system-tests:
    uses: 0chain/actions/.github/workflows/manual_system_tests.yml@master
    with:
      gosdk_branch: ${{ github.ref_name }}
      system_tests_branch: ${{ github.event.inputs.system_tests_branch }}
      miner_branch: ${{ github.event.inputs.miner_branch }}
      sharder_branch: ${{ github.event.inputs.sharder_branch }}
      zbox_cli_branch: ${{ github.event.inputs.zbox_cli_branch }}
      zwallet_cli_branch: ${{ github.event.inputs.zwallet_cli_branch }}
      blobber_branch: ${{ github.event.inputs.blobber_branch }}
      validator_branch: ${{ github.event.inputs.validator_branch }}
      zbox_branch: ${{ github.event.inputs.zbox_branch }}
      zdns_branch: staging
      test_file_filter: ${{ github.event.inputs.test_file_filter }}
      skip_tests: ${{ github.event.inputs.skip_tests }}
    secrets:
      SVC_ACCOUNT_SECRET: ${{ secrets.SVC_ACCOUNT_SECRET }}
      DEV1KC: ${{ secrets.DEV1KC }}
      DEV2KC: ${{ secrets.DEV2KC }}
      DEV3KC: ${{ secrets.DEV3KC }}
      DEV4KC: ${{ secrets.DEV4KC }}
      DEV5KC: ${{ secrets.DEV5KC }}
      DEV6KC: ${{ secrets.DEV6KC }}
      DEV7KC: ${{ secrets.DEV7KC }}
      DEV8KC: ${{ secrets.DEV8KC }}
      DEV9KC: ${{ secrets.DEV9KC }}
      SUBGRAPH_API_URL: ${{ secrets.SUBGRAPH_API_URL }}
      TENDERLY_FORK_ID: ${{ secrets.TENDERLY_FORK_ID }}
      DEVOPS_CHANNEL_WEBHOOK_URL: ${{ secrets.DEVOPS_CHANNEL_WEBHOOK_URL }}
      graphnode_network: ${{ secrets.GRAPHNODE_NETWORK }}
      graphnode_ethereum_node_url: https://rpc.tenderly.co/fork/${{ secrets.TENDERLY_FORK_ID }}
