name: Unit tests

on:
  push:
    branches: [ master, staging ]
  pull_request:
    branches: [ master, staging ]

jobs:
  #lint:
  #  runs-on: ubuntu-20.04
  #  steps:
  #  - name: Install Go
  #    uses: actions/setup-go@v2
  #    with:
  #      go-version: 1.16.x
  #  - uses: actions/checkout@v2
  #  - name: Install golangci-lint
  #    run: |
  #      go get github.com/golangci/golangci-lint/cmd/golangci-lint@v1.42.0
  #      golangci-lint --version
  #  - name: Lint
  #    run: make lint
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup go 1.16
        uses: actions/setup-go@v2
        with:
          go-version: '1.17' # The Go version to download (if necessary) and use.
      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install herumi's libraries
        run: sudo make install-herumi-ubuntu

      - name: Run Unit Test
        run: LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH make gosdk-test